@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}

.purple__gradient {
    background: linear-gradient(145deg, #B01EFF, #3672F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    padding: 56px 64px 56px 312px;
    display: flex;
    justify-content: center;
}
  
.row {
    width: 100%;
    max-width: 1600px;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}
  
.click:hover {
    transform: scale(1.05);
}
  
.click:active {
    transform: scale(0.9);
}

.wave {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -2;
    display: block;
}

.wave-mobile {
    position: absolute;
    top: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    z-index: -2;
    display: none;
}

/* 

NAV 

*/

#nav {
    position: relative;
}

.hero__background {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: top center;
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 36px 8px 140px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    z-index: 10;
    width: 100%;
    position: absolute;
    
}

.nav__logo{
    font-size: 24px;
}

.nav__unlock--button{
    box-shadow: 0 8.81px 17.62px 0 rgba(0, 0, 0, 0.15);
    border: none;
    padding-right: 28px;
    height: 47.31px;
    width: 205px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 30px;
    margin-right: 16px;
    background: linear-gradient(180deg, #A08AFB, #7353D6);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.crown{
    position: absolute;
    right: 10px;
    bottom: -16px;
}

.nav__side-bar {
    width: 200px;
    height: 100vh;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    position: fixed;
    top: 0;
    padding-top: 80px;
    background-color: #ffffff;
    z-index: 1;
}

/* 

HERO 

*/

.hero__page {
    margin-top: 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero__content, .hero__design {
    width: 50%;
    min-width: 300px;
}

.hero__design {
    display: flex;
    justify-content: flex-end;
}

.hero__content--title {
    color: #2E2A8A;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.3;
}

.hero__content--text {
    margin-top: 32px;
    color: rgba(46, 42, 138, 0.8);
    line-height: 1.3;
    font-size: 30px;
    font-weight: 400;
    max-width: 660px;
}

.hero__buttons {
    margin-top: 56px;
}

.btn {
    box-shadow: 0 8.81px 17.62px 0 rgba(0, 0, 0, 0.15);
    border: none;
    height: 64px;
    width: 308px;
    font-size: 28px;
    font-weight: 600;
    border-radius: 26.43px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.hero__sign-up{
    background: linear-gradient(180deg, #A08AFB, #7353D6);
    color: #ffffff;
}

.hero__sign-in{
    background-color: #ffffff;
    color: #2E2A8A;
}

.hero__design--mask {
    transform: translateY(-120px);
    width: 70%;
}

.hero__boy {
    animation: bounce 8s 100ms ease-in-out infinite;
}
.hero__speech {
    animation: bounce-speech 10s 200ms ease-in-out infinite;
}
.hero__laptop {
    animation: bounce 7s 300ms ease-in-out infinite;
}
.hero__text {
    animation: bounce 6s 500ms ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-4%);
    }

    50% {
        transform: translateY(4%);
    }

    100% {
        transform: translateY(-4%);
    }
    
}

@keyframes bounce-speech {
    0% {
        transform: translateY(-2%);
    }

    50% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(-2%);
    }
    
}

/* 

CONNECTIONS 

*/

.connections__text {
    color: #827FB9;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    text-align: center;
}

.connections__text:before, .connections__text:after{
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    position: absolute;
    top: 52%;
}

.connections__text:before {
    left: 4%;
    background: linear-gradient(90deg, #869eff6e, #909CFB, #A082F5 );
}

.connections__text:after {
    right: 4%;
    background: linear-gradient(-90deg, #869eff6e, #909CFB, #A082F5 );
}

.connections__companies{
    margin: 56px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.connections__companies--img--mask {
    height: 100%;
    min-height: 40px;
    max-height: 100px;
    margin: 24px;
}

.connections__companies--img {
    height: 100%;
}

.connections__tag-line {
    margin: 56px auto 112px auto;
    color: #827FB9;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    max-width: 1000px;
}

/* 

PREVIEW 

*/

#preview{
    background: linear-gradient(180deg, #FFFFFF, #F8F8FE, #F2F2FF, #FFFFFF );
    z-index: 1;
}

.preview__scroll{
    margin: 0 auto;
    text-align: center;
    color: #c6d0eb ;
    font-weight: 400;
    font-size: 22px;
}

.preview__scroll--icon {
    font-size: 32px;
    animation: scroll 2.8s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    15% {
        transform: translateY(70%);
    }

    30% {
        transform: translateY(0%);
    }

    70% {
        transform: translateY(0%);
    }

    85% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    } 
}

.preview__units{
    max-width: 1320px;
    margin: 132px auto;
}

.preview__unit--item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 280px 0 0 0;
    position: relative;
    width: 100%;
}

.preview__unit--content, .preview__unit--img {
    width: 46%;
    min-width: 300px;
    max-width: 660px;
}

.preview__unit--tag {
    font-size: 13px;
    font-weight: 400;
    width: 120px;
    height: 26px;
    color: #444CAA;
    border-radius: 4px;
    background-color: #EDEDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.preview__unit--title {
    margin: 24px 0;
    font-size: 26px;
    font-weight: 400;
}

.preview__unit--text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(46, 42, 138, 0.6);
}

.basic__image--aligment {
    display: flex;

}

.tech__item {
    margin: 4px auto;
}

.tech__img--mask--js {
    animation: bounce 4s 100ms ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech__img--shadow--mask--js {
    animation: bounce 4s 100ms ease-in-out infinite reverse;
}

.tech__img--mask--css {
    animation: bounce 4s 500ms ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech__img--shadow--mask--cs {
    animation: bounce 4s 500ms ease-in-out infinite reverse;
}

.tech__img--mask--html {
    animation: bounce 4s 700ms ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech__img--shadow--mask--html {
    animation: bounce 4s 700ms ease-in-out infinite reverse;
}

.tech__img--mask--react {
    animation: bounce 4s 300ms ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech__img--shadow--mask--react {
    animation: bounce 4s 300ms ease-in-out infinite reverse;
}

.tech__img--shadow{
    width: 100%;
}

.dividers:before, .dividers:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background: linear-gradient(-90deg, rgba(134, 158, 255, 0.26), #909CFB, #A082F5, #a182f546 );
}

.dividers:before{
    top: -112px;
}

.dividers:after{
    bottom: -184px;
}

.project__screens{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project__screens--mask, .project__screens--shadow--mask {
    max-width: 600px;
}

.project__screens--img, .project__screens--shadow--img {
    width: 100%;
}

.project__screens--shadow--mask {
    position: absolute;
    bottom: -100px;
}

.project__screens--mask {
    animation: bounce 8s 300ms ease-in-out infinite;
}

.project__screens--shadow--mask {
    animation: bounce 8s 300ms ease-in-out infinite reverse;
}

.tech__img--mask--github {
    animation: bounce 4s 100ms ease-in-out infinite;
}

.tech__img--shadow--mask--github {
    animation: bounce 4s 100ms ease-in-out infinite reverse;
}

/* 

TESTIMONIALS

*/

#testimonials {
    position: relative;
}

.testimonial__background {
    background-image: url("./assets/Testimonail\ Wave\ bg.png");
    background-size: cover;
    background-position: top center;
    padding: calc(10% + 56px) calc(10% + 64px) calc(10% + 56px) calc(10% + 312px);
}

.testimonial__waves {
    position: absolute;
    bottom: -200px;
    right: 0px;
    overflow: hidden;
    z-index: -2;
}

.testimonials__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimonials__header {
    margin: 0 auto;
    text-align: center;
}

.testimonials__title {
    position: relative;
    font-weight: 600;
    font-size: 45px;
    line-height: 1;
    margin: 80px;
}

.testimonials__title:after {
    content: "";
    display: block;
    width: 94px;
    height: 3.5px;
    position: absolute;
    background: #8E94DB; 
    left: 33%;
    bottom: -100%; 
}

.testimonials__sub-title {
    font-weight: 400;
    font-size: 25;
    color: rgba(0, 0, 0, 0.6);
    margin: 80px;
}

.testimonials__cards {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__card {
    width: 100%;
    max-width: 400px;
    margin: 16px;
    border-radius: 10.31px;
    padding: 48px;
    height: 100%;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.testimonial__profile-picture {
    margin: 0 auto;
    position: absolute;
    left: 40%;
    top: -35px;
    width: 80px;
    height: 80px;
    border-radius: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
    border: #ffffff solid 3px;
}

.testimonial__quotation--marks{
    margin: 8px 0;
}

.testimonial__text {
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    line-height: 24px;
}

.testimonial__content{
    position: relative;    
}

.testimonial__text:after {
    content: "";
    display: block;
    width: 300px;
    height: 1.72px;
    position: absolute;
    background: rgba(0, 0, 0, 0.2); 
    bottom: -50px;
}

.testimonial__name {
    align-self: flex-end;
    margin: 24px auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5px;
}

.carousel__arrow {
    font-size: 48px;
    color: #ffffff;
    margin: 36px;
}

.testimonials__page--indicator {
    margin: 0 auto;
}

.testimonials__page--indicator--icon {
    color: #ffffff;
    margin: 6px;
}

/* 

DISCORD

*/

#discord {
    margin-top: 200px;
    background: linear-gradient(180deg, #FFFFFF, #F8F8FE, #F2F2FF, #FFFFFF );
    z-index: 1;
}

.discord__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.discord__content--text {
    width: 100%;
    max-width: 500px;
    margin: 40px;
}

.discord__content--tag {
    font-size: 13px;
    font-weight: 400;
    width: 120px;
    height: 26px;
    color: #444CAA;
    border-radius: 4px;
    background-color: #EDEDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.discord__content--title {
    margin: 24px 0;
    font-size: 26px;
    font-weight: 400;
}

.discord__content--para {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(46, 42, 138, 0.6);
}

.discord__join--button {
    margin: 24px 0;
    color: #ffffff;
    background: linear-gradient(180deg, #6269B3, #7390DC );
    border-radius: 20px;
    width: 216px;
    height: 64px;
    font-size: 20px;
}

.discord__content--graphic {
    width: 100%;
    max-width: 500px;
    margin: 40px;
}

/* 

PROJECTS

*/

#projects {
    position: relative;
}

.projects__background {
    background-image: url("./assets/projects\ bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.center__projects-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 30%;
}

.projects__wave {
    position: absolute;
    bottom: -200px;
    right: 0px;
    overflow: hidden;
    z-index: -2;
}

.projects__wrapper {
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects__graphic {
    width: 65%;
    min-width: 300px;
}

.projects__image {
    width: 100%;
}

.projects__text {
    width: 35%;
    text-align: center;
    margin-bottom: 100px;
    min-width: 300px;
}

.projects__title {
    color: #6168C5;
    font-size: 38px;
    font-weight: 600;
    margin: 32px;
}

.projects__para {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.projects__button {
    margin: 24px 0;
    color: #ffffff;
    background: linear-gradient(180deg, #685AD1, #9087DC );
    border-radius: 20px;
    width: 216px;
    height: 64px;
    font-size: 20px;
}

/* 

FOOTER

*/

#footer {
    position: relative;
    background: linear-gradient(180deg, #FFFFFF, #F8F8FE, #F2F2FF);

}

.footer__wave {
    position: absolute;
    top: -6px;
    right: 0px;
    overflow: hidden;
    z-index: -2;
}

.footer__wrapper {
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__resources {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.footer__resources--title {
    margin: 24px 0;
}

.footer__link {
    color: #4D4F52;
}

.footer__link, .footer__socials {
    margin: 8px 0;
}

.social__link {
    margin: 0 8px;
    color: #7F8287;
}

@media (max-width: 768px) {
    .container {
        padding: 32px;
    }

    .row {
        margin: 0 auto;
    }

    .background {
        background-image: url("./assets/hero\ bg\ mobile.png");
        background-size: cover;
        background-position: top center;
    }

    .nav__bar {
        padding: 8px 16px;
    }

    .nav__logo {
        font-size: 20px;
    }

    .nav__unlock--button {
        display: none;
    }

    .nav__side-bar {
        display: none;
    }

    .hero__page {
        text-align: center;
        justify-content: center;
    }

    .hero__content--title {
        font-size: 35px;
        margin: 0 auto;
        max-width: 220px;
    }

    .hero__content--text {
        margin: 0 auto;
        padding: 32px 16px;
        font-size: 16px;
        max-width: 256px;
    }

    .hero__buttons {
        margin-top: 0;
    }

    .btn {
        height: 47px;
        width: 114px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 50px;
    }
    
    .hero__sign-up{
        background: linear-gradient(180deg, #A08AFB, #7353D6);
        color: #ffffff;
    }
    
    .hero__sign-in{
        background-color: #ffffff;
        color: #2E2A8A;
    }

    .hero__design--mask {
        margin: 0 auto;
        transform: translateY(0px);
        width: 70%;
    }

    .connections__text {
        font-size: 12px;
    }

    .connections__text:before, .connections__text:after{
        display: none;
    }

    .connections__companies--img--mask {
        height: 40px;
        margin: 4px;
    }

    .connections__tag-line {
        font-size: 14px;
    }

    .preview__units {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .preview__unit--item {
        margin: 32px auto;
    }

    .preview__scroll--text {
        font-size: 12px;
    }

    .preview__scroll--icon {
        font-size: 18px;
    }

    .preview__unit--tag {
       font-size: 13px;
    }

    .preview__unit--title {
        font-size: 18px;
    }

    .preview__unit--text {
        font-size: 14px;
        line-height: 23px;
    }

    .tehc__item {
        display: flex;
        align-items: space-between;
        justify-content: center;
    }

    .tech__img--mask--js, .tech__img--mask--css, .tech__img--mask--html, .tech__img--mask--react {
        max-width: 56px;
        margin: 0 auto;
    }

    .tech__img {
        width: 100%;
    } 

    .dividers:before{
        top: -50px;
    }
    
    .dividers:after{
        bottom: -50px;
    }

    .tech__img--mask--github, .tech__img--shadow--mask--github {
        width: 112px;
    }

    .testimonials__title{
        font-size: 20px;
        margin: 24px;
    }

    .testimonials__title:after {
        width: 32.87px;
        height: 2px;
        left: 38%;
        bottom: -50%;
    }

    .testimonials__sub-title {
        font-size: 12px;
        margin: 24px;
    }

    .testimonials__cards {
        width: 100%;
    }

    .carousel__arrow {
        margin: 0;
    }

    .testimonial__quotation--marks {
        width: 28px;
        height: 28px;
    }

    .quotation--img {
        width: 100%;
    }

    .testimonial__profile-picture {
        left: 34%;
    } 

    .testimonial__card {
        padding: 24px;
        height: auto;
    }

    .testimonial__text {
        font-size: 12px;
        line-height: 19px;
    }

    .testimonial__text:after{
        width: 100%;
        bottom: -10px;
    }

    .testimonials__page--indicator {
        font-size: 12px;
    }

    .testimonial__name {
        font-size: 13px;
    }

    .second__card {
        display: none;
    }

    #discord {
        margin: 0;
    }

    .discord__content--text {
        margin: 0;
    }

    .discord__content--tag {
        font-size: 13px;
    }

    .discord__content--title {
        font-size: 18px;
    }

    .discord__content--para {
        font-size: 14px;
        line-height: 23px;
    }

    .discord__join--button {
        width: 117px;
        height: 44px;
        border-radius: 10.83px;
        font-size: 15px;
    }

    .discord__content--image--mask, .discord__content--image, .discord__content--image--shadow--mask, .discord__content--image--shadow {
        width: 100%;
    }

    .projects__title {
        font-size: 16px;
    }

    .projects__para {
        font-size: 12px;
        line-height: 18px;
    }

    .projects__button {
        width: 115px;
        height: 44px;
        border-radius: 10.63px;
        font-size: 15px;
    }

    .projects__text {
        margin-bottom: 0;
    }

    .footer__wrapper {
        margin: 0;
        font-size: 12.16px;
        padding: 0;
    }

    .footer__resources {
       font-size: 12.16px; 
    }

    .social__link {
        margin: 0 4px;
    }
}


/* SMALL PHONES LARGE SMARTPHONES */
@media (max-width: 526px) {
    .background {
        background-image: url("./assets/hero\ bg\ mobile.png");
        background-size: cover;
        background-position: top center;
    }
}