@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.purple {
    color: #8063E1;
}

.container {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}
  
.click:hover {
    transform: scale(1.05);
}
  
.click:active {
    transform: scale(0.9);
}

/* 

HERO 

*/

#hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('assets/Group\ 7hero-background.jpg') no-repeat;
    background-size: cover;
}

.hero__content {
    margin-top: 120px;
    width: 50%;

}

.hero__title{
    color: #2E2A8A;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
}

.hero__design--mask {
    width: 30%;
}

.hero__boy {
    animation: bounce 8s 100ms linear infinite;
}
.hero__speech-bubble {
    animation: bounce-speech 10s 200ms linear infinite;
}
.hero__laptop {
    animation: bounce 7s 300ms linear infinite;
}
.hero__text {
    animation: bounce 6s 500ms linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(3%);
    }
    75% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0%);
    }
    
}

@keyframes bounce-speech {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(2%);
    }
    75% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
    
}



.hero__text {
    color: #454284;
    font-size: 22px;
    margin: 52px 0 32px 0;
}

.btn{
    padding: 16px 72px;
    margin: 24px 32px 0 0;
    font-size: 20px;
    border-radius: 100px;
    box-shadow: 4px 4px 24px 0 rgba(91, 62, 136, 0.4);
}

.sign__up{
    border: none;
    color: #ffffff;
    background: linear-gradient(180deg, #A08AFB, #7353D6);
}

.sign__in{
    color: #7B5DDD;
    border: 1px solid #5D42C7;
    background-color: #ffffff;
}

/* 

FEATURES 

*/

#features {
    padding: 160px 0 40px 0;
    background: linear-gradient(180deg, #ffffff, #F8F8FE, #F8F8FE, #F2F2FF );
}

.features__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__join--text {
    color: #827FB9;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-align: center;
}

.features__join--text:before, .features__join--text:after{
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    position: absolute;
    top: 52%;
}

.features__join--text:before {
    left: -16%;
    background: linear-gradient(90deg, #869eff6e, #909CFB, #A082F5 );
}

.features__join--text:after {
    right: -16%;
    background: linear-gradient(-90deg, #869eff6e, #909CFB, #A082F5 );
}

.features__companies {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 24px
}

.features__companies--img--mask {
    margin: 32px 32px 0 32px;
    width: calc(20% - 64px);
}

.features__companies--img {
    width: 100%;
}

.features__headline {
    margin-top: 96px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #827FB9;
    width: 100%;
    max-width: 960px;
}

.feature__scroll--prompt {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #2f2a8abb;
}

.scroll__animation {
    margin-top: 20px;
    color: #a690f0d5;
    animation: scroll 3s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(50%);
    }

    40% {
        transform: translateY(0%);
    }

    60% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    } 
}

.progression__unit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 400px;
    margin: 160px 0;
    position: relative;
}

.progression__unit--content {
    width: 50%
}

.progression__unit--imgs {
    width: 50%;
}

.progression__unit--content--tag {
    width: 120px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #EDEDFD;
    border-radius: 4px;
    color: #444CAA;
}

.progression__unit--content--title{
    font-size: 26px;
    font-weight: 400;
    margin: 40px 0;
}

.progression__unit--content--text {
    font-size: 18px;
    font-weight: 400;
    color: #2f2a8a9d;
    max-width: 500px;
    line-height: 30px;
}

.progression__unit--imgs {
    max-width: 580px;
    display: flex;
    justify-content: space-between;
}

.tech__img--mask--js {
    animation: bounce 4s linear infinite;
}
.tech__img--mask--css {
    animation: bounce 4s 500ms linear infinite;
}
.tech__img--mask--html {
    animation: bounce 4s 300ms linear infinite;
}
.tech__img--mask--react {
    animation: bounce 4s 200ms linear infinite;
}
.tech__img--shadow--mask--js {
    animation: bounce 4s linear infinite;
}
.tech__img--shadow--mask--css {
    animation: bounce 4s 500ms linear infinite;
}
.tech__img--shadow--mask--html {
    animation: bounce 4s 300ms linear infinite;
}
.tech__img--shadow--mask--react {
    animation: bounce 4s 200ms linear infinite;
}

.tech__img--shadow--mask {
    width: 120px;
    animation: bounce 4s linear infinite reverse;
}

.tech__img--shadow {
    width: 100%;
}

.tech__item {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.progression__unit:not(:last-child):after {
    content: "";
    display: block;
    width: 1400px;
    height: 1px;
    position: absolute;
    bottom: -50%;
    background: linear-gradient(-90deg, rgba(134, 158, 255, 0.26), #909CFB, #A082F5, #a182f546 );
}

.project__screens {
    transform: translateY(-20%);
}

.project__screens--img--mask{
    animation: bounce 4s linear infinite;
}

.project__screens--img--shadow--maks {
    transform: translateY(-65%);
}


.showcase__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase__img {
    animation: bounce 4s 200ms linear infinite;
}

.github__logo--shadow--mask {
    animation: bounce 4s 200ms linear infinite reverse;
}

/* 

CONNECTED 

*/

#connected {
    height: 100vh;
}